Release/
Debug/
x64/
.vs/
*.opt
*.ncb
*.aps
*.plg
*.clw
*.tlb
*.db
*.idb
*.sqlite
*.opensdf
*.sdf
*.suo
*.exe
*.obj
*.o
*.lo
*.Plo
*.la
*.a
*.zip
*.tar*
*.log
*.status
*~
/*.png
/*.jpg
/*.gif
/*.bmp
/*.doc
/*.imp
/*.rtf
/*.psd
